*{box-sizing:border-box
}
/* Base style for mobile  devices */

#navbar {
    background-color: #150300;
    overflow: hidden;
    height: 60px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    padding: 20px 20px 20px 20px;
}
.ul {
    text-align: right;
    text-wrap: wrap;
    
}